
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~admin-lte/dist/css/adminlte.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
aside.main-sidebar {
    overflow: hidden;
}
.router-link-exact-active {
    background-color: #3498db;
    color: #fff !important;
}

.table td {
    vertical-align: middle!important;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid blue;
}
